*, *:before, *:after
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box
html, body
  margin 0
  padding 0

@import "includes/resets"
@import "includes/box-border"
@import "includes/header"
@import "includes/spacers"
@import "includes/buttons"
@import "includes/margins"
@import "includes/backgrounds"
@import "includes/items"
@import "includes/trans"

body
  width 100%
  background #efefef
  font-family 'Open Sans', sans-serif

.content
  display flex
  flex-flow row wrap
  justify-content center

.box
  @extend .box-border
  width 50%
  display flex
  background #fafafa
  padding 15px
  margin-bottom 50px

.login
  height 100px
  justify-content center
  align-items center

@media all and (max-width 750px)
  .box
    width 90%
