@require 'nib'
@require '../../styles'

.navbar-component
  height: 60px
  border-bottom: 1px solid #000
  padding: 15px
  background: red
  .icon
    absolute: top 6px left 15px
    font-size: 45px
    color: white
  .title
    font-size: 24px
    color: white
    display: inline-block
