.items
  width 100%
  display flex
  flex-flow row wrap
  justify-content center
  .item
    @extend .box-border
    display flex
    padding 10px
    margin 10px
    word-wrap break-word
    align-items center
    .button
      flex none
      margin-left 10px
