@require 'nib'
@require '../../styles'

.login-component
  height: 100%
  width: 100%
  padding-top: 1px
  .header
    color: red
    font-size: 100px
    margin: 15%
    font-family: 'Raleway', sans-serif;
  .button.facebook
    absolute: top 50%
    padding: 15px
    color: white
    background: bluefb
    transform: translateX(-50%)
